/*  your css code here. If applicable */
table{
	border: 1px solid orange;
	border-collapse:collapse;
	border-width: 0px 0px 1px 1px;
}
th,td{
	border: 1px solid orange;
   text-align:center;
	border-width: 1px 1px 0px 0px;
	padding: 3px 5px;
}
th{
	background-color: #888;
	font-color:#fff;
	color:white;
}
.subTotalRow{
	text-align:right;
}
